.DS_Store
.DS_Store?
C1 - Azure Infrastructure Operations/project/starter_files/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.5.0/windows_amd64/terraform-provider-azurerm_v3.5.0_x5.exe
C1 - Azure Infrastructure Operations/project/starter_files/.terraform.lock.hcl
